<app-navigation-bar></app-navigation-bar>

<img src="../../../assets/logo.png" class="logo mt-5 mb-3" />
<h1 class="home-title pt-2">Collaborate</h1>
<h2 class="home-description py-2">
  Start Projects With Like Minded Students From Your University
</h2>
<div class="home-icons pt-4">
  <figure class="image-format">
    <img src="../../../assets/user-edit.svg" class="home-icon" />
    <figcaption>Edit Your Profile</figcaption>
  </figure>
  <figure class="image-format">
    <img src="../../../assets/pen.svg" class="home-icon" />
    <figcaption>Propose a Project</figcaption>
  </figure>
  <figure class="image-format">
    <img src="../../../assets/users.svg" class="home-icon" />
    <figcaption>Build a Team</figcaption>
  </figure>
  <figure class="image-format">
    <img src="../../../assets/search.svg" class="home-icon" />
    <figcaption>Search for a Project</figcaption>
  </figure>
</div>
